body {
  background-color: hotpink;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 18px;

}

h1 {
  background-color: limegreen;
  color: black;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-style: bold;
  font-size: 40px;
  border: 20px solid powderblue;
  margin: 50px;
  padding: 30px;
  border-radius: 10px;
}
h2 {
  color: black;
  text-align: center;
font-family: 'Lato', sans-serif;
  font-style: italic;
  font-size: 20px;
}

h3 {
  color: black;
  text-align: center;
font-family: 'Lato', sans-serif;
  font-style: ;
  font-size: 20px;
}
h4 {
  color: black;
  text-align: center;
font-family: 'Lato', sans-serif;
  font-style: ;
  font-size: 15px;
}

iframe:focus {
  outline: none;
}

iframe[seamless] {
  display: block;
  align-items: center;
  style="border:none;"
}
